@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F6F5F1];
  }

  h1 {
    @apply text-[#353534] text-[36px] font-merriweather leading-normal;
  }

  h2 {
    @apply text-[#353534] text-[30px] font-inter font-medium leading-10;
  }

  h3 {
    @apply text-[#353534] font-inter font-medium text-[23px] leading-10;
  }

  h4 {
    @apply text-[#353534] font-inter font-medium text-[28px] leading-10;
  }

  p {
    @apply text-[#5f5f5d] font-inter text-[19px] leading-relaxed font-normal;
  }

  blockquote {
    @apply text-[#353534] font-inter text-[18px] leading-7;
  }

  li {
    @apply text-[#353534] font-inter text-[19px] leading-relaxed font-normal;
  }

  .font-alegreya {
    font-family: 'Alegreya Sans', sans-serif;
  }

  .font-merriweather {
    font-family: 'Merriweather', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  
}

.dark {
  @apply bg-[#2D2D30];
}
